* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
font-family: "Dancing Script", cursive;
font-family: "DM Sans", sans-serif;
font-family: "Montserrat", sans-serif;
*/

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #190361 0%, #b0f 100%) center no-repeat;
  color: #34355b;
}

main .hide {
  display: none;
}

button,
.screen1 p {
  font-family: "DM Sans", sans-serif;
}

button,
.screen1 img {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: min(42.8rem, 90%);
  min-height: 31.2rem;
  background-color: #fff;
  padding: 4.8rem 6.4rem 6.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.8);
}

main h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

main img {
  width: 100%;
  height: 19rem;
}

/* SCREEN 1 */

.screen1 p {
  font-size: 1.5rem;
  margin-block: 1.4rem 2.4rem;
}

/*  SCREEN 2 */

.screen2 {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

.screen2 p {
  position: relative;

  background-color: #e4edf1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.5);
  padding: 1rem;
  color: #000;
  font-size: 2.4rem;
  font-family: "Dancing Script", cursive;

  animation: rising normal 1.5s;
}

button {
  padding: 1.6rem;
  margin-inline: auto;
  background-color: #ff9500;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  font-weight: 700;
}

/* ANIMATION */

@keyframes rising {
  from {
    bottom: -13rem;
    scale: 0.3;
    opacity: 0.2;
  }
  to {
    bottom: 0;
    scale: 1;
  }
}
